# Localhost
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Home Lab
10.211.55.100	control.example.com	control.example.local	control
10.211.55.101	server1.example.com	server1.example.local	server1
10.211.55.102	server2.example.com	server2.example.local	server2